html body {
  background-color: #000;
  color:white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: white;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
header {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
header .logo {
  height: 25px;
  cursor: pointer;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.nav-links li a {
  text-decoration: none;
  color: white;
}
.nav-links li a:hover {
  color: red;
  cursor: pointer;
}
#user-control-panel {
  display: flex;
  gap: 25px;
}
#user-control-panel img {
  width: 35px;
  height: 35px;
}
.search-input {
  background-image:url(images/search.png); 
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px;
  padding-left: 10px;
  width: 200px;
  height: 35px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#user-control-panel img {
  cursor: pointer;
}
main {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('images/bg.jpg') no-repeat center center/cover;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    height: 350px;
}
.checked {
  color: orange;
}
.fa-star-half-full {
  color: orange;
}
.aciklama {
  width: 500px;
}
.watch-button {
  background-color: red;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.watch-button:hover {
  transform: scale(1.05);
}
.breaking-info li {
  list-style-type:square;
}
.movies-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
.movies-header a {
  text-decoration: none;
  color: gray;
}
.movies-header a:hover {
  color:white;
  transition: 0.5s;
}
.movies {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movies .item {
  width: 32%;
  height: 180px;
  position: relative;
}
.movies .item img {
  width: 100%;
  opacity: 0.6;
}
.movies .movie-item-info {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-item-info span {
  border: 1px solid white;
  border-radius: 5px; 
  padding: 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
.movie-item-info a {
  background-color:red;
  padding: 2px 5px;
  border-radius: 0.4rem;
  transition: 0.5s;
  width: 50px;
  text-align: center;
  margin-right: 10px;
}
.movie-item-info a:hover {
  background-color: rgb(222, 214, 214);
  color: black;
  transition: 0.5s;
}